In [3]:
import mysql.connector

In [4]:
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="7289"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x0000026B8DCF0970>

In [5]:
mycur=mydb.cursor()
mycur.execute("SHOW DATABASES")
for x in mycur:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('satyam',)
('sys',)

In [6]:
mycur.execute("SHOW VARIABLES LIKE 'SECURE_FILE_PRIV'")
for x in mycur:
    print(x)

('secure_file_priv', 'C:\\ProgramData\\MySQL\\MySQL Server 8.0\\Uploads\\')

# DATA SELECTION

In [11]:
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="7289",
    database="satyam")
mycur = mydb.cursor()

mycur.execute("SHOW TABLES")
for x in mycur:
    print(x)

('school',)
('user',)

In [12]:
mycur=mydb.cursor()
mycur.execute("SELECT * FROM school")
myresult=mycur.fetchall()
for x in myresult:
    print(x)

In [15]:
sql="SELECT DISTINCT * FROM school WHERE student_id = 10854"
mycur.execute(sql)
myresult=mycur.fetchall()
for x in myresult:
    print(x)

('male', 10854, 69)

In [16]:
sql="SELECT student_id, marks FROM school ORDER BY marks"
mycur.execute(sql)
myresult=mycur.fetchall()
for x in myresult:
    print(x)

(10869, 52)
(10869, 52)
(10856, 55)
(10856, 55)
(10854, 69)
(10854, 69)

# UPDATE table

In [21]:
sql="UPDATE school SET marks = 100 WHERE student_id =10856"
mycur.execute(sql)
mydb.commit()
print(mycur.rowcount,"record(s) affected")

2 record(s) affected

In [22]:
sql="SELECT student_id, marks FROM school ORDER BY marks"
mycur.execute(sql)
myresult=mycur.fetchall()
for x in myresult:
    print(x)

(10854, 69)
(10854, 69)
(10856, 100)
(10869, 100)
(10856, 100)
(10869, 100)

# DELETE

In [23]:
mycur=mydb.cursor()
mycur.execute("DELETE FROM school WHERE student_id = 10869")
mydb.commit()

In [32]:
sql="SELECT student_id, marks FROM school ORDER BY marks"
mycur.execute(sql)
myresult=mycur.fetchall()
for x in myresult:
    print(x)

(10854, 69)
(10854, 69)
(10856, 100)
(10856, 100)

# DROP

In [35]:
mycur=mydb.cursor()
sql= "DROP TABLE school1"
mycur.execute(sql)

In [9]:
mycur.execute("SHOW DATABASES")
for x in mycur:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('satyam',)
('sys',)

# JOINS

In [13]:
ydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="7289",
    database="satyam")
mycur = mydb.cursor()

mycur.execute("SHOW TABLES")
for x in mycur:
    print(x)

('school',)
('user',)