# Branching
(if, elif ,else )

In [4]:
i=18

if i < 13:
    print('less than 13') #before print 4time space is called indentation

elif i < 15:
    print('less than 15')
    
else:
    print('15 or more') # as soon any condition true next other condition not checked.

less than 15

In [10]:
i=15
j=23

if i>j:
    print('it is okk')
else:
    print('it is not ok')

it is not ok

In [11]:
a=5

b=7
print("A") if a>b else print("B")

B

In [15]:
a=330
b=330
print("A") if a>b else print("it is eql") if a==b else print ("B")

it is eql

In [18]:
a=200
b=33
c=500

if a>b and c>a:
    print("both conditions are true")
else:
    print('both are not true')

both conditions are true

In [23]:
a=200
b=33
c=500

if a>b or c>a:
    print("At least one of the condition is true")

At least one of the condition is true

In [33]:
x = 25

if x > 20:
    print("above ten,")
    if x > 50:
        print("and also above 50!")
    else:
        print("its not above 50!")
else:
    print("but not above 50.")

above ten,
its not above 50!

In [34]:
a=10
b=20

if b>a:
    pass

In [35]:
i=25
if (i==10):
    print("i is 10")
elif(i==15):
    print("i is 15")
else:
    print('its not present')

its not present

In [39]:
i=22
j=21
k=20

if i>j:
    if j>k:
        if k == '20':
            print('its 20')
        else:
            print('its not 20')
    else:
        print('K')
else:
    print('something')

its not 20

In [ ]:
i=22
j=21
k=20

if i>j:
    if j>k:
        if k == 20:
            print('its 20')
        else:
            print('its not 20')
    else:
        print('K')
else:
    print('something')

# Loop

In [42]:
name=['satyam','patel','shivam','aman']
print(name)

['satyam', 'patel', 'shivam', 'aman']

In [47]:
name=['satyam','patel','shivam','aman']

for i in name:
    print(i)

satyam
patel
shivam
aman

In [48]:
salary=[200,400,500,700,800,1200]
for val in salary:
    if val > 500:
        print(val)

700
800
1200

In [54]:
salary=[200,400,500,700,800,1200]
for val in salary:
    if val < 500:
        print(val)

200
400

In [50]:
salary=[200,400,500,700,800,1200]
for val in salary:
    if val == 500:
        print(val)

500

# List Comprehension

In [56]:
sal=[val for val in salary if val > 550]
sal

[700, 800, 1200]

In [4]:
daily_no=[10,20,30,40,50,60,70]
till_date=0
for i in daily_no:
    #print(i)
    till_date=till_date+i
    print("till_date=>",till_date)

till_date=> 10
till_date=> 30
till_date=> 60
till_date=> 100
till_date=> 150
till_date=> 210
till_date=> 280

# While loop

In [15]:
n=10
i = 1
Sum = 0
while i <= n:
    Sum = Sum + i
    i= i+ 1
    print(Sum)
print("sum=",Sum)

1
3
6
10
15
21
28
36
45
55
sum= 55