In [1]:
import mysql.connector

In [2]:
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="7289"
)
print (mydb)

<mysql.connector.connection.MySQLConnection object at 0x00000191D82E66A0>

In [3]:
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('database1',)
('information_schema',)
('mysql',)
('performance_schema',)
('satyam',)
('sys',)

In [6]:
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="7289",
    database="database1")

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE school1(gender varchar(6),student_id integer(10),marks integer(3))")

In [7]:
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="7289",
    database="database1")

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

('school',)
('school1',)

In [11]:
sql="INSERT INTO school (gender,student_id,marks) VALUES (male,20172595,96)"
mycursor=mydb.cursor(sql)
mydb.commit()
print(mycursor.rowcount,"record inserted")

-1 record inserted

In [9]:
sql="INSERT INTO school (gender,student_id,marks)VALUES (%s,%s,%s)"
val=(("male",10856,55),("female",10869,52),("male",10854,69))
mycursor.executemany(sql,val)
mydb.commit()
print(mycursor.rowcount,"record inserted")

3 record inserted

In [12]:
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM school ORDER BY marks desc")
for x in mycursor:
    print(x)

('male', 10854, 69)
('male', 10854, 69)
('male', 10856, 55)
('male', 10856, 55)
('female', 10869, 52)
('female', 10869, 52)

# load external file

In [13]:
mycursor.execute("SHOW VARIABLES LIKE 'local_infile'")
for x in mycursor:
    print(x)

('local_infile', 'OFF')

In [14]:
mycursor.execute("SET GLOBAL local_infile=ON")

In [15]:
mycursor.execute("SHOW VARIABLES LIKE 'local_infile'")
for x in mycursor:
    print(x)

('local_infile', 'ON')

In [17]:
#check the folder from where the file it will pick. 
mycursor.execute("SHOW VARIABLES LIKE 'secure_file_priv'")
for x in mycursor:
    print(x)

('secure_file_priv', 'C:\\ProgramData\\MySQL\\MySQL Server 8.0\\Uploads\\')

In [18]:
mycursor.execute("SELECT * FROM school")
for x in mycursor:
    print(x)

('male', 10856, 55)
('female', 10869, 52)
('male', 10854, 69)
('male', 10856, 55)
('female', 10869, 52)
('male', 10854, 69)

In [25]:
mycursor.execute("LOAD DATA IN FILE 'C:\ProgramData\MySQL\MySQL Server 8.0\Uploads\Copy of New Microsoft Excel Worksheet.csv'INTO TABLE school FIELDS TERMINATED BY',' LINE TERMINATER BY'\n'")
mydb.commit

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 56-57: truncated \UXXXXXXXX escape (<ipython-input-25-565a0aa0adaa>, line 1)