In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.DataFrame({'x':[1,1,0,1],'y':[1,1,0,0],'z':[1,0,1,0],'Label':['A','A','B','B']})
df

   x  y  z Label
0  1  1  1     A
1  1  1  0     A
2  0  0  1     B
3  1  0  0     B

total ones in 'x' =3
count of label A when x= 1 is 2
count of label B when x=1 is 1

total zeros in 'x' = 1
count of label A when x= 0 is 0
count of label B when x=0 is 1

entropy= -p*log2(p)

In [3]:
entropy_x_1=(-2/3*np.log2(2/3))+(-1/3*np.log2(1/3))
print('entropy_x_1',entropy_x_1)

entropy_x_0=(-0/1*np.log2(0/1))+(-1/1*np.log2(1/1))
print('entropy_x_0',entropy_x_0)

entropy_x_1 0.9182958340544896
entropy_x_0 nan

In [4]:
entropy_y_1=(-2/2*np.log2(2/2))+(-0/2*np.log2(0/2))
print('entropy_y_1',entropy_y_1)

entropy_y_0=(-0/2*np.log2(0/2))+(-2/2*np.log2(2/2))
print('entropy_y_0',entropy_y_0)

entropy_y_1 nan
entropy_y_0 nan

In [5]:
entropy_z_1=(-1/2*np.log2(1/2))+(-1/2*np.log2(1/2))
print('entropy_z_1',entropy_z_1)

entropy_z_0=(-1/2*np.log2(1/2))+(-1/2*np.log2(1/2))
print('entropy_z_0',entropy_z_0)

entropy_z_1 1.0
entropy_z_0 1.0

# information gain=1-sv/s*E

sv=category count  
s= total record  
E= Entropy

In [6]:
df

   x  y  z Label
0  1  1  1     A
1  1  1  0     A
2  0  0  1     B
3  1  0  0     B

In [7]:
IG_x=1-(3/4*0.918 + 1/4*0)
print ('IG_X= ',IG_x)

IG_y=1-(2/4*0 + 2/4*0)
print ('IG_y= ', IG_y)

IG_z=1-(2/4*1 + 2/4*1)
print ('IG_z= ', IG_z)

IG_X=  0.3115
IG_y=  1.0
IG_z=  0.0

# Gini Index

gini impurity=1-p2

In [8]:
df=pd.DataFrame({'x':[17,10,2,11],'y':[20,15,50,10],'z':[10,5,20,25],'Label':['P','N','P','N']})
df

    x   y   z Label
0  17  20  10     P
1  10  15   5     N
2   2  50  20     P
3  11  10  25     N

In [9]:
Gx_gt_10=1-(np.square(2/3)+np.square(1/3))
print('Gx_gt_10=',Gx_gt_10)

Gx_lt_10=1-(np.square(0/1)+np.square(1/1))
print('Gx_lt_10=',Gx_lt_10)

gini_impurity_x=(3/4)*Gx_gt_10+(1/4)*Gx_lt_10
print('gini_impurity_x= ',gini_impurity_x)

Gx_gt_10= 0.4444444444444444
Gx_lt_10= 0.0
gini_impurity_x=  0.3333333333333333

In [10]:
Gy_gt_10=1-(np.square(2/4)+np.square(2/4))
print('Gy_gt_10 = ',Gy_gt_10)

gini_impurity_y=(4/4)*Gy_gt_10
print('gini_impurity_y= ',gini_impurity_y)

Gy_gt_10 =  0.5
gini_impurity_y=  0.5

In [11]:
Gz_gt_10=1-(np.square(1/3)+np.square(2/3))
print('Gz_gt_10=',Gz_gt_10)

Gz_lt_10=1-(np.square(1/1)+np.square(0/1))
print('Gz_lt_10=',Gz_lt_10)

gini_impurity_z=(3/4)*Gz_gt_10+(1/4)*Gz_lt_10
print('gini_impurity_z= ',gini_impurity_z)

Gz_gt_10= 0.4444444444444444
Gz_lt_10= 0.0
gini_impurity_z=  0.3333333333333333